*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Inter', 'Roboto', sans-serif;

    /* Colors */
    --light-blue: #F7F9FC;
    --electric-blue: #3D55F3;
    --dark-blue: #22263F;
    --grey: #ECEEF1;
    --dark-grey: #6C6E81;
    --green: #52C51F;

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
}

body {
    height: 100vh;
    background-color: var(--light-blue);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

input {
    font-family: 'Inter', 'Roboto', sans-serif;
}

/* ASIDE */
aside {
    background-color: white;
    border-right: 1px solid var(--grey);
    
    display: grid;
    padding: var(--space-sm);
    grid-row: 1 /span 2;
}

h1 {
    text-align: center;
    align-content: center;
    font-weight: lighter;
}

nav {
    display: grid;
}

.nav-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--space-xs);
    grid-template-columns: 1fr 2fr;
}

.nav-icon {
    width: 20px;
    height: 20px;
}

.nav-text:hover {
    text-decoration: underline var(--electric-blue);   
}

.home {
    color: var(--electric-blue);
}

.footer-navigation {
    align-content: center;
}

/* HEADER */
header {
    padding: var(--space-sm);
    gap: var(--space-sm);
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    background-color: var(--grey);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 6fr;

    height: 70%;
    max-width: 320px;
    padding: var(--space-xs);
    border-radius: var(--space-xs);
    align-content: center;
}

#search-button {
    display: flex;
    justify-content: center;
}

/* We cannot use the display none for labels, instead screen-readers only visible  */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

#search-input,
#search-input::placeholder {
    color: var(--dark-grey);
}

#search-input:focus {
    outline: 2px solid var(--electric-blue);
}

#search-button,
#search-input {
    height: 100%;
    width: 100%;
    border: 0 none;
    padding: var(--space-xs);
    background-color: var(--grey);
}

.profile-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    position: relative;
    gap: var(--space-sm);
}

.notif-icon {
    width: 20px;
    height: 20px;
}

.notif-icon:hover {
    animation-name: bell-ring;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes bell-ring {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.red-dot {
    width: 10px;
    height: 10px;
    top: 12px;
    left: 10px;
    position: absolute;
    background-color: red;
    border-radius: 100%;
}

.profile-icon {
    border-radius: var(--space-lg);
    object-fit: cover;
}

/* MAIN */
main {
    padding: 0 var(--space-sm) var(--space-sm);

    display: grid;
    gap: var(--space-sm);
}

h2 {
    text-align: center;
    align-content: center;
    font-weight: lighter;
}

dl {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: var(--space-md);
}

.metric-item {
    background-color: white;

    text-align: center;
    padding: var(--space-md);

    display: grid;
    gap: var(--space-xs);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.metric-item:hover {
    transform: translateY(-2px);
    /* OffsetX OffsetY Radius */
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
}

dt {
    font-size: small;
    color: var(--dark-blue);
}

dd {
    font-size: larger;
    font-weight: bold;
}

.graph-container {
    display: grid;
    grid-template-rows: 2fr 4fr 1fr;
    padding: var(--space-sm);
}

.graph-information-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xs);
}

#total-requests-num {
    font-size: xx-large;
    font-weight: bold;
}

#shifting-percentage {
    color: var(--green);
}

#graph-heading {
    grid-row: 2;
    color: var(--dark-blue);
    font-size: medium;
    font-weight: normal;
}

.frequency-container {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-xs);
}

.graph-legend-container {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}

.distribution-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    column-gap: var(--space-sm);
    padding: var(--space-sm);
}

.contributor-ordered-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--space-sm);
}

.circle-graph {
    grid-row: 1 / span 2;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.contributor-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.arrow-icon {
    width: 20px;
    height: 20px;
}

#first-contributor {
    border-top-right-radius: var(--space-xs);
}

#second-contributor {
    background-color: var(--grey);
    border-bottom-right-radius: var(--space-xs);
}

.graph-container,
.table-container {
    background-color: #FFFFFF;
}

.image {
    width: 100%;
    height: 100%;
}

.metric-item,
.graph-container,
.distribution-container {
    border-radius: var(--space-xs);
    border: 1px solid var(--grey);
}

@media (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: var(--space-xs);
        border-top: 1px solid var(--grey);
        border-right: 0 none;
        background-color: var(--light-blue);
    }

    /* Same as sr-only but cannot add class with css */
    h1 {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border: 0;
    }

    nav {
        grid-auto-flow: column;
        justify-content: center;
    }

    .main-navigation,
    .footer-navigation {
        display: grid;
        grid-auto-flow: column;
    }

    .nav-container {
        grid-template-columns: 1fr;
    }

    .nav-text {
        display: none;
    }

    .nav-icon {
        transition: transform 0.15s ease;
    }

    .nav-icon:hover {
        transform: translateY(-2px);
    }

    dl,
    .contributor-container {
        gap: var(--space-xs);
    }

    .metric-item {
        min-width: 105px;
    }

    .distribution-container {
        padding: var(--space-sm);
        row-gap: var(--space-sm);
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .circle-graph {
        max-width: 128px;
        max-height: 128px;
    }

    /* Use to avoid overlapping the distribution container */
    main {
        padding-bottom: 80px;
    }
}