:root {
    background-color: #EFEFEF;
    font-family: inter, roboto;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 345px 1fr;
}

aside {
    font-size: 20px;
    padding: 20px;
    background-color: white;
    display: grid;
    align-content: space-around;
}
aside > h1 {
    font-size: 36px;
    font-weight: 400;
}
.main-section,
.footer-section {
    display: flex;
    flex-direction: column;
}
.main-section > section,
.footer-section > section {
    display: flex;
}
.main-section > section > p,
.footer-section > section > p {
    margin: 10px;
}
.main-section > section > img,
.footer-section > section > img {
    width: 20px;
}

main {
    padding: 20px;
    display: grid;
    grid-template-rows: 90px 200px 300px 200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-space {
    width: 300px;
    height: 90px;
}

.search-section {
    display: flex;
    align-items: flex-end;
}
.search-section > input {
    width: 400px;
    height: 25px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 50px;
}
.search-section > button {
    border: none;
}
.search-section > button:active {
    opacity: 70%;
}

.profile-section {
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.alert-icon {
    margin-left: -10px;
    margin-top: -20px;
}
.profile-icon {
    width: 68px;
    height: 68px;
    border-radius: 35px;
    margin-left: 10px;
    background-color: #dae2ff;
    object-fit: cover;
}

.task-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.task-section > h2 {
    grid-column: 2;
    font-weight: 400;
}
.task-section > section {
    background-color: white;
    width: 200px;
    height: 90px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 2;
}
.task-section > section:hover {
    outline: 2px solid #344DF3;
    background-color: #F5F7FF;
}
.task-section > section > p {
    margin: 0;
}
.task-section > section > p:nth-child(2){
    color: #767676;
}
/*
.second-section {
    display: grid;
    grid-column-start: 2;
    grid-row: 2;
    justify-items: center;
    align-items: center;
    margin-top: -20px;
}
.second-section-div {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 200px 60px;
    width: 900px;
    height: 330px;
}
.top-div {
    padding: 10px 20px;
    display: flex;
}
.second-section-div > p {
    margin-left: 15px;
}
.second-section-div-num {
    font-size: 40px;
    margin: 0;
}
.second-section-div-per {
    color:  #50C029;
    margin-left: 10px;
}
.second-section-div-p {
    color: #767676;
    height: 30px;
    position: absolute;
    margin-top: 50px;
}
.second-section-div-m {
    color: #767676;
    margin-left: 580px;
}
.icon-arrow-down {
    width: 20px;
    height: 55px;
    margin-left: 8px;
}
.graph {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graph > img {
    position: absolute;
    width: 780px;
    height: 200px;
}
.bottom-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom-div > p {
    font-size: 20px;
    color: #767676;
    height: 30px;
}
article {
    display: grid;
    grid-column: 2 / span 3;
    grid-row: 3;
    justify-items: center;
    align-items: center;
}
.article-div {
    display: grid;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 1fr 1fr;
    width: 860px;
    height: 200px;
    background-color: white;
    padding: 20px;
}
.div-article1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
}
.div-article1 > img {
    width: 150px;
}
.div-article2 {
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
}
.div-article3 > p,
.div-article2 > p {
    margin-right: 100px;
}
.div-article3 {
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
}
.fix-align {
    margin-left: 20px;
} */